<div *ngIf="showLoader" class="loader"></div>
<div *ngIf="!showLoader" >

<h2>BIENVENIDO {{userName.toLocaleUpperCase()}}</h2>
<h3>Selecciona la comida que quieres</h3>

<h4>Productos que quiero (maximo {{productLimit}}):</h4>
<h5 *ngFor="let productSelected of selectedProducts">
  {{productSelected.name}} <button (click)="removeSelection(productSelected)"> Eliminar</button>
</h5>
<span *ngIf="showMessageMax" style="color: red">{{messageMax}}</span>
<br>
<button *ngIf="!showMessageTime" (click)="cleanList()"> Limpiar seleccion</button>

<div *ngIf="!showMessageTime">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Ingredientes</th>
      <th>Descripcion</th>
      <th>Descripcion</th>
      <th>Agregar</th>
    </tr>
    <tr *ngFor="let prod of list">
      <td>{{prod.name}}</td>
      <td>{{prod.ingredients}}</td>
      <td>{{prod.longDescription}}</td>
      <td><img src="{{prod.photoUrl}}" alt="Girl in a jacket" width="250" height="180"></td>
      <td *ngIf="prod.longDescription">
        <button (click)="addProduct(prod)">Lo quiero!</button>
      </td>
    </tr>
  </table>
</div>

<span *ngIf="showMessageTime" style="color: red">{{messageTime}}</span>
</div>
